*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background: #817979;
    color: #fff;
    padding: 20px;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: right;
    margin-left: 12px;
    text-decoration: none;
    color: #efefef;
}   
nav ul li a{
    margin-left: 20px;
    text-decoration: none;
    color: #efefef;
    font-family: 'Times New Roman', Times, serif;
}

nav ul li a:hover {
    color: #741414;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.1);
    transition: all 0.3s ease;
}

#inicio {
    background: #f0f0f0;
    padding: 40px 20px;
    text-align: center;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.1);
    font-family: 'Times New Roman', Times, serif;
}

#inicio h2 {
    margin-bottom: 20px;
    color: #741414;
    box-shadow: 2px 2px 4px rgba(0,0,0,0.1);
}





#habilidades {
    background: #c6bebe;
    padding: 40px 20px;
    display: block;
    text-align: center;
    
    font-family: 'Times New Roman', Times, serif;
}

#habilidades h2 {
    margin-bottom: 20px;
    color: #741414;
    box-shadow: 2px 2px 4px rgba(0,0,0,0.1);
}

#habilidades ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 20px;
    
}

#habilidades ul li {
    background: #fff;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    width: 100px;
    text-align: center;
}

#habilidades ul li:hover {
    background: #f0f0f0;
    transform: translateY(-5px);
    transition: all 0.3s ease;
}

#proyectos {
    background: #f0f0f0;
    padding: 40px 20px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    display: block;
}

#proyectos h2 {
    margin-bottom: 20px;
    color: #741414;
    box-shadow: 2px 2px 4px rgba(0,0,0,0.1);
}

#proyectos ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 20px;
}

#proyectos ul li {
    background: #fff;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    width: 200px;
    text-align: center;
}



#proyectos ul ol {
    background: #fff;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    width: 100px;
   
    
}

#proyectos ul ol li {
    margin-bottom: 10px;
}


#footer {
    background: #817979;
    color: #fff;
    text-align: center;
    padding: 20px;
}

#footer p {
    font-size: 14px;
    text-align: center;
}


#header-proyectos {
    background: #817979;
    color: #fff;
    padding: 20px;
    text-align: center;
}

#header-proyectos h1 {
    font-size: 36px;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.1);
    text-align: center;
}

#header-proyectos nav a {
    margin: 0 10px;
    text-decoration: none;
    color: #efefef;
    font-family: 'Times New Roman', Times, serif;
    text-align: right;
}

.content-proyectos {
    background: #f0f0f0;
    padding: 40px 20px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    display: block;
}

.content-proyectos .card h2 {
    margin-bottom: 20px;
    color: #741414;
    box-shadow: 2px 2px 4px rgba(0,0,0,0.1);
}
